.advantages {
  padding: 60px 0;

  @media(max-width: 1199px) {
    padding: 60px 0 30px;
  }

  @media(max-width: 767px) {
    padding: 40px 0 20px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -16px;

    @media(max-width: 1199px) {
      margin: 0 -10px;
    }

    @media(max-width: 767px) {
      width: 100%;
      margin: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: 100%;
    max-width: calc(20% - 32px);
    margin: 0 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &_price {
      max-width: calc(17.5% - 32px);
    }

    &_sale {
      max-width: calc(19.5% - 32px);
    }

    &_count {
      max-width: calc(23% - 32px);
      @media(max-width: 1199px) {
        max-width: calc(33.333% - 20px) !important;
      }
    }

    @media(max-width: 1199px) {
      max-width: calc(25% - 20px);
      margin: 0 10px 30px;
    }

    @media(max-width: 991px) {
      max-width: calc(33.333% - 20px);
    }

    @media(max-width: 767px) {
      max-width: 330px !important;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 auto 20px;
    }
  }

  &__item-ico {
    flex: 0 0 50px;
    margin-right: 18px;

    @media(max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &__item-descr {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: 1 1;
  }
}