.breadcrumbs {
  padding: 7.5px 0;

  @media(min-width: 768px) {
    padding: 0 0 20px;
  }

  $root: &;

  &__wrap {
    padding: 0;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;

    @media(min-width: 768px) {
      margin-right: 12px;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      #{$root} {
        &__link, &__link:hover {
          font-weight: 500;
          color: $red-color;
        }
      }
    }
  }

  &__link {
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    display: block;
    margin-right: 8px;

    @media(min-width: 768px) {
      font-size: 14px;
      margin-right: 10px;
    }

    &:hover {
      color: $red-color;
      text-decoration: none;
    }

  }
}