.catalog {
  width: 100%;
  margin-bottom: 40px;

  @media(min-width: 768px) {
    margin-bottom: 60px;
  }

  &__wrap {
    display: block;
    padding: 0;
  }

  &__title {
    margin-bottom: 15px;

    @media(min-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px;

    @media(min-width: 768px) {
      margin: -10.5px;
    }
  }

  &__item {
    width: 100%;
    max-width: calc(50% - 10px);
    margin: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    transition: box-shadow .2s ease;
    text-align: center;
    color: #000;

    &:hover {
      color: $red-color;
      box-shadow: -5px -5px 5px #FFFFFF, 5px 5px 10px rgba(0, 0, 0, 0.1);
    }

    @media(min-width: 768px) {
      max-width: calc(50% - 21px);
      margin: 10.5px;
    }

    @media(min-width: 1024px) {
      max-width: calc(25% - 21px);
    }
  }

  &__item-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__item-link {
    display: flex;
    justify-content: center;
  }

  &__item-group {
    padding: 10px 9px 9px 9px;

    @media(min-width: 360px) {
      padding: 15px 14px 14px 14px;
    }

    @media(min-width: 1024px) {
      padding: 20px 19px 19px 19px;
    }
  }

  &__item-title {
    color: inherit;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }

    @media(min-width: 576px) {
      font-size: 14px;
    }

    @media(min-width: 768px) {
      font-size: 16px;
    }

    @media(min-width: 1200px) {
      font-size: 20px;
    }
  }

  &__item-list {
    display: none;
  }

}
