.checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
  padding: 3px 0;

  $root: &;

  &:last-child {
    margin-bottom: 0;
  }

  &__input {
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;

    &:checked ~ {
      #{$root} {
        &__square {
          border-color: $red-color;
          #{$root} {
            &__ico {
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  &__square {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 2px solid $border-color;
    margin-right: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #FFF;
    transition: border-color .2s ease;
  }

  &__ico {
    width: 13px;
    height: 10px;
    color: $red-color;
    transition: transform .2s ease;
    transform: scale(0);
  }

  &__title {
    flex: 1 1;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}