.checkout {
  padding-bottom: 103px;

  $root: &;

  &__wrap {
    display: block;
    padding: 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @media(max-width: 991px) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  }

  &__col {
    width: 100%;
    margin: 0 15px 30px 15px;
    max-width: calc(50% - 30px);

    @media(max-width: 991px) {
      margin: 0 0 30px 0;
      max-width: 560px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media(max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__step {
    margin-bottom: 20px;

    @media(max-width: 767px) {
      margin-bottom: 10px;
    }

    &_last {
      margin-bottom: 0;
    }
  }

  &__step-heading {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;

    @media(max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  &__step-count {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 15px;
    background: $red-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

    @media(max-width: 575px) {
      margin-right: 10px;
    }
  }

  &__step-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;

    @media(max-width: 575px) {
      font-size: 16px;
    }
  }

  &__step-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 20px -15px;

    @media(max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
      margin: 0 0 15px 0;
    }
  }

  &__step-group {
    width: 100%;
    position: relative;

    &_col {
      max-width: calc(50% - 30px);
      margin: 0 15px;

      @media(max-width: 575px) {
        max-width: 100%;
        margin: 0;
      }
    }

    &_full {
      margin-bottom: 20px;

      @media(max-width: 575px) {
        margin-bottom: 15px;
      }
    }

    &_last {
      margin-bottom: 0;
    }
  }

  &__step-label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;

    @media(max-width: 575px) {
      margin-bottom: 6px;
    }
  }

  &__step-input {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background: $light-color;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $dark-color;
    border: 1px solid $light-color;
    @include placeholder($grey-color);

    @media(max-width: 575px) {
      height: 45px;
      font-size: 15px;
    }

    &_error {
      border-color: $red-color;
    }

    &_textarea {
      padding: 16px 15px;
      height: 200px;
      resize: none;
      overflow: hidden;

      @media(max-width: 575px) {
        height: 140px;
      }
    }

    &_promo {
      max-width: calc(50% - 30px);
      margin: 0 15px;
      position: relative;
      z-index: 1;

      @media(max-width: 575px) {
        max-width: 100%;
        margin: 0 0 15px 0;
      }
    }
  }

  &__step-error {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
    color: $red-color;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
  }

  &__step-payment {
    position: relative;
    margin-bottom: 35px;

    @media(max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  &__cart-title {
    margin-bottom: 25px;

    @media(max-width: 767px) {
      margin-bottom: 20px;
    }

    &_promo {
      font-size: 18px;
      line-height: 22px;

      @media(max-width: 575px) {
        height: 44px;
        margin-bottom: 6px;
      }
    }

    &_success {
      color: $green-color;
    }

    &_error {
      color: $red-color;
    }
  }

  &__cart {
    margin-bottom: 30px;
  }

  &__cart-item {
    margin-bottom: 15px;
    padding: 15px;
    background: rgba(229, 229, 229, 0.5);
    border-radius: 10px;

    @media(min-width: 768px) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cart-item-top {
    display: flex;
    flex-wrap: wrap;
  }

  &__cart-item-image {
    width: 113px;
    position: relative;
    margin-right: 7px;
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &__cart-item-thumb {
    position: absolute;
    height: 100%;
    max-width: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    object-position: center;
  }

  &__cart-item-content {
    flex: 1 1;
    @media(min-width: 768px) {
      padding-left: 17px;
    }
  }

  &__cart-item-title {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 10px;
  }

  &__cart-item-prices {
    @media(min-width: 768px) {
      display: flex;
    }
  }

  &__cart-item-price {
    color: #1D1E1C;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    @media(min-width: 768px) {
      margin-right: 15px;
    }
  }

  &__cart-item-oldprice {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #1D1E1C;
  }

  &__cart-item-trigger {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    &_mobile {
      @media(min-width: 768px) {
        display: none;
      }
    }

    &_desktop {
      @media(max-width: 767px) {
        display: none;
      }
    }
  }

  &__cart-item-remove {
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover, &:focus {
      #{$root} {
        &__cart-item-trash {
          opacity: .7;
        }
      }
    }
  }

  &__cart-item-trash {
    color: #000;
    opacity: .3;
    width: 20px;
    height: 23px;
    transition: opacity .3s;
  }

  &__featured-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__featured-item-image {
    width: 45px;
    display: flex;
    position: relative;

    @media(min-width: 768px) {
      width: 70px;
    }

    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  &__featured-item-content {
    padding: 7.5px 20px 0 15px;
    flex: 1 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(min-width: 768px) {
      padding-top: 15px;
      align-items: flex-start;
    }
  }

  &__featured-item-title {
    color: #000000;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    width: 83px;
    height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media(min-width: 768px) {
      width: 170px;
      font-size: 14px;
      line-height: 16px;
      height: 36px;
    }
  }

  &__featured-item-price {
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: right;

    @media(min-width: 768px) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__promo {
    background: rgba(229, 229, 229, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;

    @media(min-width: 768px) {
      padding: 20px;
    }
  }

  &__promo-form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    position: relative;
  }

  &__promo-input {
    color: #000;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $red-color;
    border-radius: 5px;
    height: 30px;
    padding: 0 13px;
    @include placeholder(rgba(0, 0, 0, 0.5));

    @media(min-width: 768px) {
      font-size: 14px;
      height: 40px;
      padding: 0 20px;
    }
  }

  &__promo-button {
    width: 108px;
    height: 100%;
    border: 1px solid $red-color;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    line-height: 15px;
    color: rgba(227, 30, 36, 0.5);

    @media(min-width: 768px) {
      width: 120px;
      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      color: #FFF;
      background: $red-color;
    }
  }

  &__promo-result {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    top: 100%;
    left: 0;
    margin-top: 1px;
    position: absolute;

    &_success {
      color: $green-color;
    }

    &_error {
      color: $red-color;
    }
  }

  &__total {
    background: rgba(229, 229, 229, 0.5);
    border-radius: 10px;
    padding: 15px;

    @media(min-width: 768px) {
      padding: 20px;
    }
  }

  &__total-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__total-label, &__total-val {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    @media(min-width: 768px) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__total-label {
    color: #000;

    &_sum {
      font-weight: 700;

      @media(min-width: 768px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__total-val {
    color: #1D1E1C;

    &_sum {
      color: $red-color;
      font-weight: 700;

      @media(min-width: 768px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__footer {
    width: 100%;
    position: fixed;
    z-index: 4;
    bottom: 0;
    left: 0;
    background: #FFF;
    padding: 12px 20px;
  }

  &__send {
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
  }

  &__confirm {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #000;
    text-align: center;
  }

  &__confirm-link {
    color: $red-color;
    text-decoration: underline;
    font-weight: 300;
    display: block;
  }

  &__response {
    display: block;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    margin-top: 2px;
    color: $dark-color;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }

  &__loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }

  &__loading-wrap {
    text-align: center;
  }

  &__loading-msg {
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    @media(min-width: 768px) {
      line-height: 20px;
    }
  }
}