.content {
  margin-bottom: 20px;

  @media(min-width: 768px) {
    margin-bottom: 60px;
  }

  $root: &;

  &__wrap {
    display: block;
    padding: 0;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__entry {

    p, li, a {
      color: #000;
      font-size: 14px;
      line-height: 20px;
    }

    a {
      color: $red-color;

      &:hover {
        text-decoration: none;
      }
    }

    ol, ul {
      padding-left: 0;
    }
    p {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li {
      position: relative;
      list-style-type: none;
      margin-bottom: 15px;
      padding-left: 20px;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 2px;
        background: $red-color;
        position: absolute;
        left: 0;
        top: calc(50% - 2px);
      }
    }

  }
}