.header {
  background: #FFFFFF;
  padding: 12px 0;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  @media(min-width: 768px) {
    padding: 20px 0;
    box-shadow: none;
    margin-bottom: 20px;

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  $root: &;

  &__wrap {
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 85px;
    height: 40px;

    @media(min-width: 768px) {
      width: 120px;
      height: 50px;
    }

    @media(min-width: 1200px) {
      width: 160px;
      height: 60px;
    }

    @media(min-width: 1340px) {
      width: 200px;
      height: 70px;
    }

    @media(min-width: 1600px) {
      width: 225px;
      height: 80px;
    }
  }

  &__group {
    flex: 1 1;
    display: flex;
    justify-content: space-between;

    @media(min-width: 768px) {
      padding: 0 15px;
    }

    @media(min-width: 1200px) {
      padding: 0 30px 0 40px;
    }

    @media(min-width: 1440px) {
      padding: 0 40px 0 50px;
    }

    @media(min-width: 1700px) {
      padding: 0 80px 0 95px;
    }
  }

  &__nav {
    display: none;
    @media(min-width: 992px) {
      flex: 1 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-right: 15px;
    }
  }

  &__nav-link {
    display: block;
    margin-right: 15px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;

    @media(min-width: 1340px) {
      font-size: 19px;
    }

    @media(min-width: 1440px) {
      font-size: 21px;
      line-height: 26px;
      margin-right: 20px;
    }

    @media(min-width: 1600px) {
      font-size: 24px;
      line-height: 29px;
    }

    &:last-child {
      margin-right: 0;
    }

    &_active, &:hover {
      text-decoration: none;
      &::after {
        opacity: 1;
      }
    }

    &::after {
      @media(min-width: 1200px) {
        content: "";
        position: absolute;
        left: 0;
        background: $red-color;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        height: 2px;
        opacity: 0;
        transition: opacity .2s ease;
        bottom: -37px;
      }

      @media(min-width: 1340px) {
        bottom: -40px;
      }

      @media(min-width: 1600px) {
        bottom: -43px;
      }
    }
  }

  &__contact {
    flex: 1 1;

    @media(min-width: 768px) {
      width: 215px;
      display: flex;
      flex-wrap: wrap;
      align-self: center;
      flex: none;
    }

    @media(min-width: 1200px) {
      width: 224px;
    }

    @media(min-width: 1440px) {
      width: 234px;
    }
  }

  &__contact-btn {
    display: none;

    @media(min-width: 768px) {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: $red-color;
    }

    @media(min-width: 992px) {
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }

  &__contact-group {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10px;

    @media(min-width: 992px) {
      padding-left: 15px;
    }
  }

  &__contact-tel {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    color: #000000;
    margin-bottom: 2px;

    &:hover {
      color: $red-color;
      text-decoration: none;
    }

    @media(min-width: 768px) {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0;
    }

    @media(min-width: 1340px) {
      font-size: 16px;
    }
  }

  &__contact-city {
    width: 100%;
    color: $red-color;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    margin-bottom: 2px;
    position: relative;

    @media(min-width: 768px) {
      font-size: 14px;
    }
  }

  &__contact-name {
    pointer-events: none;
  }

  &__contact-angle {
    fill: $red-color;
    width: 15px;
    height: 15px;
    margin-left: 3px;

    @media(min-width: 768px) {
      width: 18px;
      height: 18px;
      margin-left: 5px;
    }
  }

  &__contact-street {
    color: $dark-color;
    font-size: 11px;
    line-height: 14px;

    @media(min-width: 768px) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__mobile {
    width: 40px;
    height: 40px;
    background: $red-color;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;

    @media(min-width: 768px) {
      display: none;
    }
  }

  &__mobile-ico {
    pointer-events: none;
  }

  &__right {
    display: none;
    @media(min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      width: 260px;
    }

    @media(min-width: 1340px) {
      width: 300px;
    }

    @media(min-width: 1600px) {
      width: 360px;
    }
  }

  &__search {
    flex: 1 1;
    margin-right: 15px;
    position: relative;

    @media(min-width: 1340px) {
      margin-right: 30px;
    }
  }

  &__search-input {
    background: $grey-color;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    @include placeholder(rgba(0, 0, 0, 0.3));
    padding-left: 48px;
    width: 100%;
    height: 40px;

    @media(min-width: 992px) {
      font-size: 18px;
      line-height: 22px;
      height: 50px;
      border-radius: 20px;
    }
  }

  &__search-btn {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 12px);
    left: 14px;
    z-index: 1;

    @media(min-width: 992px) {
      width: 26px;
      height: 26px;
      top: calc(50% - 13px);
      left: 16px;
    }
  }

  &__account {
    width: 40px;
    height: 40px;
    background: $red-color;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media(min-width: 992px) {
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }

  &__account-user {
    color: #FFF;
    pointer-events: none;
    width: 19px;

    @media(min-width: 992px) {
      width: 24px;
    }
  }

  &__cart {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: $red-color;
    box-shadow: 0px 4px 50px rgba(227, 30, 36, 0.5);
    position: fixed;
    right: 15px;
    top: calc(50% - 22.5px);
    z-index: 15;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: none;

    @media(min-width: 768px) {
      right: 20px;
    }

    @media(min-width: 992px) {
      right: 40px;
    }

    @media(min-width: 1200px) {
      right: 60px;
    }

  }

  &__cart-ico {
    color: #FFFFFF;
    width: 32px;
    height: 28px;
    pointer-events: none;
  }

  &__cart-val {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #FFFFFF;
    border: 1px solid $red-color;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1px;
    pointer-events: none;
  }

}