.header {

  $root: &;

  &__wrap {
    @media(min-width: 768px) {
      max-width: 1530px;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 16px;

    @media(min-width: 1200px) {
      padding-top: 20px;
    }
  }

  &__logo {
    display: inline-flex;
    align-items: flex-end;
    margin-right: auto;
    margin-left: 0;
    color: $dark-color;

    &:hover {
      color: $dark-color;
      text-decoration: none;
    }
  }

  &__logo-src {
    height: 60px;
    margin-right: 6px;

    @media(min-width: 360px) {
      height: 70px;
    }

    @media(min-width: 768px) {
      height: 60px;
    }

    @media(min-width: 1340px) {
      height: 80px;
    }
  }

  &__descr {
    @media(max-width: 1199px) {
      display: none;
    }

    @media(min-width: 1200px) {
      font-size: 11px;
      line-height: 14px;
      max-width: 170px;
      margin-bottom: 8px;
    }

    @media(min-width: 1368px) {
      font-size: 12px;
      line-height: 15px;
      max-width: 220px;
      margin-bottom: 10px;
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1;

    @media(min-width: 768px) {
      margin-right: 20px;
    }

    @media(min-width: 1024px) {
      margin-right: 0;
    }
  }

  &__adress {
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    margin-bottom: 6px;
    width: 100%;

    @media(min-width: 768px) {
      max-width: 220px;
      margin-bottom: 0;
      margin-right: 20px;
    }

    @media(min-width: 1024px) {
      font-size: 12px;
      margin-right: 0;
      max-width: 230px;
    }

    @media(min-width: 1340px) {
      font-size: 14px;
      line-height: 19px;
      max-width: 280px;
    }

    @media(min-width: 1440px) {
      text-align: left;
    }
  }

  &__social {
    display: none;

    @media(min-width: 1200px) {
      display: inline-flex;
      flex-wrap: wrap;
      margin-left: 15px;
      margin-right: 25px;
    }

    @media(min-width: 1440px) {
      margin-left: 20px;
      margin-right: 40px;
    }
  }

  &__social-link {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 6px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(min-width: 1024px) {
      width: 36px;
      height: 36px;
    }

    &:not(:first-child) {
      margin-left: 12px;
    }

    &--whatsapp {
      background: #25D366;

      &:hover {
        background: #2BB741;
      }
    }

    &--tg {
      background: #229ED9;

      &:hover {
        background: #229ED9;
      }

      #{$root} {
        &__social-ico {
          margin-right: 2px;
        }
      }
    }

    &--vk {
      background: #0077FF;

      &:hover {
        background: darken($color: #0077FF, $amount: 10%);
      }
    }

    &--inst {
      background: #e56969;

      &:hover {
        background: #c1558b;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__social-ico {
    width: 100%;
    height: 100%;
    color: inherit;
  }

  &__contacts {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;

    @media(min-width: 1024px) {
      margin-right: 20px;
    }

    @media(min-width: 1440px) {
      margin-right: 40px;
    }
  }

  &__telephone {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: $dark-color;

    @media(min-width: 1340px) {
      font-size: 18px;
      line-height: 24px;
    }

    &:hover {
      text-decoration: none;
      color: $label-color;
    }
  }

  &__email {
    font-size: 12px;
    color: $dark-color;
    border-bottom: 1px solid $dark-color;
    text-decoration: none;
    padding-bottom: 2px;

    @media(min-width: 1024px) {
      font-size: 14px;
      padding-bottom: 3px;
    }

    &:hover {
      color: $red-color;
      border-block-color: $red-color;
      text-decoration: none;
    }
  }

  &__fixed {
    display: none;

    @media(min-width: 1024px) {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 10;
      display: flex;
      justify-content: center;
      transform: translateY(-100%);
      transition: transform .3s ease;
      pointer-events: none;

      &.--show {
        transform: translateY(0);
        pointer-events: all;

        #{$root} {
          &__nav {
            box-shadow: 0 3px 32px rgba($label-color, 0.12);
          }
        }
      }

      #{$root} {
        &__nav {
          margin-top: 0;
          border-radius: 0 0 12px 12px;

          @media(min-width: 1200px) {
            border-radius: 0 0 16px 16px;
          }
        }
      }
    }
  }

  &__nav {
    display: none;

    @media(min-width: 1024px) {
      width: 100%;
      background: $dark-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding: 16px;
      border-radius: 12px;
      margin-top: 8px;
    }

    @media(min-width: 1200px) {
      padding: 16px 24px;
      border-radius: 16px;
      margin-top: 12px;
    }
  }

  &__nav-item {

    @media(min-width: 768px) {
      position: relative;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media(min-width: 1200px) {
      margin-right: 40px;
    }

  }

  &__nav-link {

    @media(min-width: 768px) {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      color: $light-color;

      &:hover,
      &_current {
        color: $red-color;
        text-decoration: none;

        #{$root} {
          &__nav-chevron {
            color: $red-color;
          }
        }
      }

      &_active {
        color: $red-color;

        #{$root} {
          &__nav-chevron {
            transform: rotate(-180deg);
          }
        }
      }

      &_active + {
        #{$root} {
          &__nav-dropdown {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }

    @media(min-width: 1200px) {
      font-size: 15px;
    }

    @media(min-width: 1280px) {
      font-size: 16px;
    }

  }

  &__nav-chevron {

    @media(min-width: 768px) {
      width: 14px;
      height: 14px;
      color: $light-color;
      margin-left: 5px;
      transition: all .3s ease;
      pointer-events: none;
    }
  }

  &__nav-dropdown {

    @media(min-width: 768px) {
      margin-top: 16px;
      position: absolute;
      min-width: 220px;
      padding: 14px 8px;
      border-radius: 6px;
      background: $dark-color;
      opacity: 0;
      pointer-events: none;
      transition: all .3s ease;
      top: 100%;
      left: 0;
      z-index: 10;
    }

    @media(min-width: 1200px) {
      margin-top: 20px;
      min-width: 240px;
      padding: 24px 12px;
    }

  }

  &__nav-subitem {
    width: 100%;

    @media(min-width: 768px) {
      margin-bottom: 4px;
    }

    @media(min-width: 1200px) {
      margin-bottom: 6px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav-sublink {

    @media(min-width: 768px) {
      font-size: 12px;
      color: $light-color;
      display: inline-flex;

      &:hover,
      &:active {
        color: $red-color;
        text-decoration: none;
      }
    }

    @media(min-width: 1200px) {
      font-size: 14px;
    }
  }

  &__mobile {
    width: 40px;
    height: 40px;
    background: $red-color;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;

    @media(min-width: 1024px) {
      display: none;
    }
  }

  &__mobile-ico {
    pointer-events: none;
  }

  &__right {
    display: none;

    @media(min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      width: auto;
    }

    @media(min-width: 1200px) {
      width: 260px;
    }

    @media(min-width: 1340px) {
      width: 300px;
    }

    @media(min-width: 1600px) {
      width: 360px;
    }
  }

  &__search {
    @media(max-width: 1023px) {
      display: none;
    }

    @media(min-width: 1024px) {
      flex: 1 1;
      margin-right: 15px;
      position: relative;
    }

    @media(min-width: 1340px) {
      margin-right: 20px;
    }

    @media(min-width: 1440px) {
      margin-right: 30px;
    }
  }

  &__search-input {
    background: $grey-color;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    @include placeholder(rgba(0, 0, 0, 0.3));
    padding-left: 48px;
    width: 100%;
    height: 40px;

    @media(min-width: 992px) {
      font-size: 18px;
      line-height: 22px;
      height: 50px;
      border-radius: 20px;
    }
  }

  &__search-btn {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 12px);
    left: 14px;
    z-index: 1;

    @media(min-width: 992px) {
      width: 26px;
      height: 26px;
      top: calc(50% - 13px);
      left: 16px;
    }
  }

  &__account {
    width: 40px;
    height: 40px;
    background: $red-color;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media(min-width: 992px) {
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }

  &__account-user {
    color: #FFF;
    pointer-events: none;
    width: 19px;

    @media(min-width: 992px) {
      width: 24px;
    }
  }

  &__cart {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: $red-color;
    box-shadow: 0px 4px 50px rgba(227, 30, 36, 0.5);
    position: fixed;
    right: 15px;
    top: calc(50% - 22.5px);
    z-index: 15;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: none;

    @media(min-width: 768px) {
      right: 20px;
    }

    @media(min-width: 992px) {
      right: 40px;
    }

    @media(min-width: 1200px) {
      right: 60px;
    }

  }

  &__cart-ico {
    color: #FFFFFF;
    width: 32px;
    height: 28px;
    pointer-events: none;
  }

  &__cart-val {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #FFFFFF;
    border: 1px solid $red-color;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1px;
    pointer-events: none;
  }

  &__mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    transition: all .3s ease;
  }

  &__mobile-menu-back {
    width: 100%;
    margin-bottom: 6px;
    padding: 10px 0 9px 26px;
    border-bottom: 1px solid rgba($color: $dark-color, $alpha: .1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
    position: relative;
  }

  &__mobile-menu-back-name {
    color: $dark-color;
    font-size: 16px;
    font-weight: 600;
  }

  &__mobile-menu-item {
    width: 100%;
    margin-bottom: 6px;
    padding: 10px 0 9px;
    border-bottom: 1px solid rgba($color: $dark-color, $alpha: .1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__mobile-menu-chevron {
    width: 16px;
    height: 16px;
    color: $red-color;
    position: absolute;
    right: 0;
    top: calc(50% - 8px);
    transition: all .3s ease;
    pointer-events: none;
    transform: rotate(-90deg);

    &_back {
      right: auto;
      left: 0;
      transform: rotate(90deg);
    }
  }

  &__mobile-menu-dropdown {
    position: absolute;
    transition: all .25s ease;
    width: 100%;
    height: auto;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    left: 100%;
    display: none;
  }

  &__mobile-menu-link {
    color: $dark-color;
    font-size: 16px;
    font-weight: 500;
    display: block;
    position: relative;

    &.active ~ {
      #{$root} {
        &__mobile-menu-dropdown {
          display: block;
        }
      }
    }

    &_current {
      color: $red-color;
    }

    &:hover {
      color: $red-color;
      text-decoration: none;
    }
  }

}
