.home-products {
  margin-bottom: 60px;

  @media(max-width: 767px) {
    margin-bottom: 40px;
  }

  $root: &;

  .swiper-grid-column>.swiper-wrapper {
    justify-content: space-between;
  }

  &__heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;

    @media(max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  &__all {
    padding: 11px 15px;
    background: $light-color;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
      #{$root} {
        &__all-text,
        &__all-ico {
          color: $blue-color;
        }
      }
    }

    @media(max-width: 767px) {
      padding: 6.5px 10px;
      width: 70px;
      justify-content: flex-end;
    }
  }

  &__all-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $grey-color;
    margin-right: 10px;
    transition: color .2s ease;

    @media(max-width: 767px) {
      display: none;
    }
  }

  &__all-ico {
    color: $grey-color;
    width: 18px;
    height: 18px;
    transition: color .2s ease;

    @media(max-width: 767px) {
      width: 17px;
      height: 17px;
    }
  }

  &__container {
    width: 100%;
    height: 892px;
    @media(max-width: 575px) {
      height: auto;
      margin-right: -12px !important;
    }
  }

  &__item {
    height: 430px !important;
    @media(max-width: 575px) {
      height: auto;
    }
  }

  &__pagination {
    display: none;
    @media(max-width: 575px) {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100% !important;
    }
  }
  &__bullet {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: $grey-color;
    margin: 0 3.5px;
    opacity: .3;
    transition: opacity .3s ease;

    &_active, &:hover, &:focus {
      opacity: 1;
    }
  }

}