.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: .4s;
  z-index: 15;
  pointer-events: none;

  $root: &;

  &_active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
    padding: 15px;
    cursor: pointer;
  }

  &__popup {
    width: 100%;
    max-width: 520px;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    position: relative;
    cursor: default;
    display: none;

    &_cart {
      max-width: 400px;
    }

    &_open {
      display: flex;
    }

    &_lg {
      max-width: 1100px;

      @media(min-width: 768px) {
        min-height: 340px;
      }
      @media(min-width: 992px) {
        min-height: 440px;
      }
      @media(min-width: 1200px) {
        min-height: 600px;
      }
    }

    @media(min-width: 768px) {
      padding: 30px;
    }

    @media(min-width: 992px) {
      padding: 40px;
    }

    @media(min-width: 1200px) {
      padding: 60px;
    }
  }

  &__popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;

    &:hover, &:focus, &:active {
      #{$root} {
        &__popup-cross {
          color: $red-color;
        }
      }
    }

    @media(min-width: 768px) {
      top: 30px;
      right: 30px;
    }

    @media(min-width: 992px) {
      top: 40px;
      right: 40px;
    }

    @media(min-width: 1200px) {
      top: 60px;
      right: 60px;
    }
  }

  &__popup-cross {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.2);
    transition: color .3s ease;
    pointer-events: none;
  }

  &__popup-container {
    width: 100%;
    text-align: center;
    position: relative;
  }

  &__title {
    margin-bottom: 15px;

    @media(min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;

    @media(min-width: 768px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__popup-cart-image {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background: $light-color;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(min-width: 768px) {
      width: 110px;
      height: 110px;
      border-radius: 55px;
    }
  }

  &__popup-cart-ico {
    color: $red-color;
    fill: none;
    width: 40px;
    height: 30px;

    @media(min-width: 768px) {
      width: 46px;
      height: 36px;
    }
  }

  &__popup-logout {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  &__popup-logout-ico {
    color: $red-color;
    fill: none;
    width: 80px;
    height: 72px;

    @media(min-width: 768px) {
      width: 102px;
      height: 92px;
    }
  }

  &__popup-button {
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    height: 40px;

    @media(min-width: 768px) {
      font-size: 15px;
      line-height: 20px;
      width: 195px;
      height: 60px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__tabs {
    margin: 20px 0;

    @media(min-width: 768px) {
      margin: 0;
    }
  }

  &__tabs-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 20px;

    @media(min-width: 768px) {
      margin-right: 60px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: $light-color;
      border-radius: 20px;
    }
  }

  &__tabs-title {
    width: 50%;
    padding: 15px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: $dark-color;
    transition: all .2s ease;
    position: relative;
    cursor: pointer;

    @media(min-width: 768px) {
      padding: 20px 0;
      font-size: 18px;
      line-height: 22px;
    }

    &:hover {
      color: $red-color;
    }

    &::before {
      content: "";
      position: absolute;
      border-radius: 20px;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background: $red-color;
      transform: scale(0);
      z-index: 2;

      @media(min-width: 768px) {
        height: 4px;
        bottom: -3px;
      }
    }

    &_active {
      font-weight: bold;
      color: $red-color;

      &::before {
        transform: scale(1);
      }

      &:hover {
        color: $red-color;
      }
    }
  }

  &__tabs-item {
    display: none;

    &_active {
      display: block;
    }
  }

}