.page {
  margin-bottom: 70px;

  @media(max-width: 767px) {
    margin-bottom: 40px;
  }

  &__wrap {
    display: block;
  }

  &__title {
    margin-bottom: 45px;

    @media(max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__aside {
    width: 264px;

    @media(max-width: 991px) {
      width: 200px;
    }

    @media(max-width: 767px) {
      display: none;
      &_account {
        display: initial;
        margin-bottom: 30px;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid $blue-light-color;
    border-radius: 10px;
    padding: 14px 0;

    @media(max-width: 991px) {
      padding: 10px 0;
    }
  }

  &__menu-link {
    font-size: 18px;
    line-height: 22px;
    color: $grey-color;
    padding: 4px 10px 4px 29px;
    position: relative;
    margin: 11px 0;
    cursor: pointer;

    @media(max-width: 991px) {
      font-size: 15px;
      line-height: 20px;
      padding-right: 19px;
      margin: 8px 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background: $red-color;
      display: none;
    }

    &_active {
      color: $red-color;
      font-weight: 600;
      &::before {
        display: block;
      }
    }

    &:hover {
      color: $red-color;
      text-decoration: none;
    }

  }

  &__content {
    flex: 1 1;
    padding: 19px 0 0 98px;

    @media(max-width: 1199px) {
      padding-left: 40px;
    }

    @media(max-width: 991px) {
      padding-left: 30px;

      &_account {
        padding-left: 30px;
        flex: 0 0 100%;
        padding-left: 0;
      }
    }

    @media(max-width: 767px) {
      padding: 0;
    }

    &_full {
      padding-left: 0;
    }

  }

  &__entry {
    p {
      font-size: 16px;
      line-height: 26px;
      color: $dark-color;
      margin-bottom: 14px;

      @media(max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 8px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h1, h2, h3, h4 {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-top: 50px;
      margin-bottom: 20px;

      @media(max-width: 767px) {
        font-size: 18px;
        line-height: 24px;
        margin-top: 30px;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    b, strong {
      color: $red-color;
      font-weight: 600;
    }

    a {
      color: $blue-color;
      text-decoration: underline;
      font-weight: 300;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__contact {
    margin-bottom: 40px;

    @media(max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__contact-title {
    margin-bottom: 20px;
  }

  &__contact-link {
    color: $dark-color;
    &:hover {
      color: $red-color;
      text-decoration: none;
    }
  }

  &__contact-text {
    font-size: 16px;
    line-height: 26px;
    color: $dark-color;

    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__contact-small {
    font-size: 12px;

    @media(max-width: 767px) {
      font-size: 11px;
    }
  }

  &__contact-map {
    width: 100%;
    height: 380px;
    display: flex;
    background: $blue-light-color;
    border-radius: 10px;
    overflow: hidden;

    @media(max-width: 767px) {
      height: 300px;
    }
  }

}