.product {
  $root: &;

  &_quick {
    #{$root} {
      &__wrap {
        display: block;
      }
      &__gallery {
        @media(min-width: 768px) {
          width: 280px;
          margin-right: 20px;
        }
        @media(min-width: 992px) {
          width: 360px;
          margin-right: 40px;
        }
        @media(min-width: 1200px) {
          width: 480px;
          margin-right: 60px;
        }
      }
      &__content-info {
        padding-right: 30px;
      }
    }
  }

  &_page {
    margin-bottom: 40px;

    @media(min-width: 768px) {
      margin-bottom: 60px;
    }
    #{$root} {
      &__row {
        margin-bottom: 30px;
      }
      &__gallery {
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.05);

        @media(min-width: 768px) {
          width: 320px;
          margin-right: 20px;
        }
        @media(min-width: 992px) {
          width: 420px;
          margin-right: 40px;
        }
        @media(min-width: 1200px) {
          width: 480px;
        }

        @media(min-width: 1340px) {
          width: 600px;
          margin-right: 60px;
        }
      }
      &__content-info {
        max-width: 450px;
      }
    }
  }

  &__wrap {
    padding: 0;
  }

  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media(min-width: 768px) {
      display: none;
    }
  }

  &__heading-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #FFFFFF;
    border: 2px solid $red-color;
    margin-right: 19px;
  }

  &__heading-arrow {
    color: $red-color;
    margin-right: 4px;
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__gallery {
    position: relative;
  }

  &__slider {
    background: #FFF;
  }

  &__slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #FFF;
    top: calc(50% - 15px);
    z-index: 4;
    border: 1px solid rgba(0, 0, 0, 0.05);

    @media(min-width: 768px) {
      width: 40px;
      height: 40px;
      top: calc(50% - 20px);
    }

    &:hover {
      box-shadow: -5px -5px 5px #FFFFFF, 5px 5px 10px rgba(0, 0, 0, 0.1);

      #{$root} {
        &__slider-arrow-ico {
          color: $red-color;
        }
      }
    }

    &_prev {
      left: 15px;
      @media(min-width: 768px) {
        left: 20px;
      }
    }

    &_next {
      right: 15px;
      @media(min-width: 768px) {
        right: 20px;
      }
    }
  }

  &__slider-arrow-ico {
    color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
  }

  &__content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
  }

  &__title {
    margin-bottom: 20px;

    &_mobile {
      flex: 1 1;
      margin-bottom: 0;
    }

    &_desktop {
      display: none;
      @media(min-width: 768px) {
        display: block;
      }
    }
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 15px;

    p {
      margin-bottom: 15px;

      @media(min-width: 768px) {
        margin-bottom: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      color: $red-color;
    }
  }

  &__prop {
    margin-bottom: 15px;
  }

  &__prop-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    @media(min-width: 768px) {
      margin-bottom: 10px;
      min-height: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  &__prop-label {
    width: 150px;

    @media(min-width: 768px) {
      width: 195px;
      margin-right: 20px;
    }
  }

  &__prop-val {
    flex: 1 1;
  }

  &__price-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media(min-width: 768px) {
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 15px;
  }

  &__price-group {
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    line-height: 29px;

    @media(min-width: 350px) {
      font-size: 24px;
    }

    @media(min-width: 768px) {
      margin-right: 30px;
    }
  }

  &__price-text {
    font-size: 16px;
    line-height: 22px;

    @media(min-width: 350px) {
      font-size: 18px;
    }
  }

  &__price-old {
    color: $dark-color;
    font-size: 12px;
    text-decoration: line-through;

    @media(min-width: 350px) {
      font-size: 14px;
    }

    &_hide {
      display: none;
    }
  }

  &__add-wrap {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  &__body {
    width: 100%;
  }

  &__content-footer {
    display: flex;
    flex-wrap: wrap;
  }

  &__add {
    font-size: 14px;
    line-height: 17px;
    flex: 1 1;
    height: 40px;

    @media(min-width: 768px) {
      font-size: 15px;
      line-height: 20px;
      width: 195px;
      height: 60px;
    }

    &:hover {
      text-decoration: none;
    }

    &_more {
      width: 160px;
      margin-left: 20px;
    }

  }

  &__wish {
    width: 40px;
    height: 40px;
    border: 2px solid $red-color;
    margin-left: 10px;

    &_active {
      background: $red-color;

      #{$root} {
        &__wish-like {
          color: #FFF;
        }
      }
    }

    @media(min-width: 768px) {
      width: 60px;
      height: 60px;
      margin-left: 20px;
    }
  }

  &__wish-like {
    width: 21px;
    color: $red-color;
    pointer-events: none;

    @media(min-width: 768px) {
      width: 35px;
    }
  }

  &__comment {
    max-width: 600px;
  }

  &__comment-title {
    margin-bottom: 15px;

    @media(min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__comment-list {
    margin-bottom: 20px;
  }

  &__comment-item {
    background: rgba(229, 229, 229, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__comment-heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__comment-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;

    @media(min-width: 350px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__comment-date {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #000000;

    @media(min-width: 350px) {
      font-size: 12px;
      line-height: 15px;
    }

    @media(min-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__comment-stars {
    display: flex;
    margin-bottom: 15px;
  }

  &__comment-star {
    width: 14px;
    height: 14px;
    margin-right: 3px;
    fill: #898989;
    color: #898989;

    &_active {
      fill: $red-color;
      color: $red-color;
    }
  }

  &__comment-decription {
    font-size: 12px;
    line-height: 15px;
    color: #000000;

    @media(min-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__comment-empty {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 20px;
  }

}