.product-card {
  position: relative;
  background: #FFFFFF;
  border: 1px solid $blue-light-color;
  border-radius: 10px;
  transition: all .25s ease;

  $root: &;

  &_page {

    &:hover {
      border-color: #FFF;
      box-shadow: 0px 4px 15px 5px rgba(0, 0, 0, 0.05);
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;

    #{$root} {
      &__image {
        flex: 0 0 230px;
        height: 198px;
        margin: 0 9px 0 0;

        @media(max-width: 767px) {
          flex-basis: 200px;
        }

        @media(max-width: 575px) {
          flex-basis: 150px;
        }

        @media(max-width: 410px) {
          flex-basis: 80px;
          margin-right: 5px;
        }
      }

      &__content {
        flex: 1 1;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media(max-width: 767px) {
          padding: 20px 15px;
        }

        @media(max-width: 410px) {
          padding: 15px 5px 10px 10px;
        }
      }

      &__name {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
        @media(max-width: 767px) {
          font-size: 14px;
          margin-bottom: 0;
        }
      }

      &__bottom {
        flex-direction: column;
        align-items: flex-start;
      }

      &__prices {
        padding-right: 0;
        margin-bottom: 15px;
        @media(max-width: 767px) {
          margin-bottom: 10px;
        }
      }

      &__current-price {
        font-size: 20px;
        line-height: 24px;
        margin-right: 10px;
        @media(max-width: 767px) {
          font-size: 16px;
          line-height: 21px;
          margin-right: 8px;
        }
      }

      &__old-price {
        font-size: 15px;
        line-height: 18px;
        @media(max-width: 767px) {
          font-size: 14px;
          line-height: 17px;
        }
      }

      &__button {
        width: 40px;
        flex-basis: 40px;
      }
    }
  }

  &__label {
    border-radius: 30px;
    padding: 3px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;

    &_hit {
      background: $blue-color;
      color: #FFFFFF;
    }
  }

  &__image {
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    position: relative;

    &_catalog {
      @media(min-width: 768px) {
        z-index: 2;
        cursor: pointer;

        &:hover {
          #{$root} {
            &__quick-view {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
      }
    }
  }

  &__image-src {
    position: absolute;
    height: 100%;
    width: auto;
    max-width: 100%;
    top: 50%;
    left: 50%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  }

  &__quick-view {
    display: none;
    @media(min-width: 768px) {
      display: inline-flex;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 12px;
      padding: 6px 12px;
      border-radius: 30px;
      z-index: 5;
      white-space: nowrap;
      transform: translate(-50%, -50%);
      opacity: 0;
      pointer-events: none;
    }
  }

  &__content {
    padding: 0 20px 19px 20px;
  }

  &__heading {
    width: 100%;
    height: 48px;
    overflow: hidden;
    margin-bottom: 10px;

    @media(max-width: 767px) {
      margin-bottom: 6px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__prices {
    flex: 1 1;
    padding-right: 10px;
    display: flex;
    align-items: flex-end;
  }

  &__current-price {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-right: 11px;

    @media(max-width: 767px) {
      font-size: 17px;
      line-height: 21px;
      margin-right: 6px;
    }
  }

  &__old-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    color: $grey-color;
    margin-bottom: 1px;

    @media(max-width: 767px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__button {
    flex: 0 0 36px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border-radius: 50%;
    background: $red-color;

    @media(max-width: 767px) {
      flex-basis: 40px;
    }

    &::after {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &:hover {
      background: $red-color-hover;
    }
  }

  &__button-ico {
    color: #FFF;
    width: 13px;
    height: 13px;
    position: absolute;
    left: calc(50% - 6.5px);
    top: calc(50% - 6.5px);
    pointer-events: none;

    @media(max-width: 767px) {
      width: 17px;
      height: 17px;
      left: calc(50% - 8.5px);
      top: calc(50% - 8.5px);
    }
  }

  &__url {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}