.qty {
  display: none;

  $root: &;

  @media(min-width: 768px) {
    width: 130px;
  }

  &_show {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_lg {
    @media(min-width: 768px) {
      width: 195px;
    }

    #{$root} {
      &__btn {
        width: 60px;
        height: 60px;
        border-radius: 30px;

        &::before {
          top: calc(50% - 27px);
          left: calc(50% - 27px);
          border-radius: 27px;
        }
      }

      &__btn_add::before {
        width: 54px;
        height: 54px;
      }


      &__btn_remove::before {
        width: 48px;
        height: 48px;
      }

      &__val {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
      }
    }
  }

  &_product {
    width: 81px;

    @media(min-width: 768px) {
      width: 130px;
    }

    #{$root} {
      &__btn {
        width: 25px;
        border-radius: 5px;
        border: none;
        box-shadow: none;

        @media(min-width: 768px) {
          width: 40px;
        }

        &_remove {
          background: rgba(196, 196, 196, 0.5);
          #{$root} {
            &__btn-ico {
              color: #898989;
            }
          }

          &::before {
            display: none;
          }
        }

        &_add, &:focus {
          background: $red-color;

          #{$root} {
            &__btn-ico {
              color: #FFF;
            }
          }

          &::before {
            display: none;
          }
        }

        &:disabled,
        &[disabled] {
          background: rgba($red-color, 0.5);
          #{$root} {
            &__btn-ico {
              color: #FFF;
            }
          }
        }
      }
    }
  }

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 3px solid #F6F7FA;
    box-shadow: -3px -3px 5px #F8F9FC, 3px 3px 10px rgba(0, 0, 0, 0.15);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 34px;
      height: 34px;
      top: calc(50% - 17px);
      left: calc(50% - 17px);
      border-radius: 17px;
      z-index: 1;
    }

    &_add {
      &::before {
        background: $red-color;
      }
      #{$root} {
        &__btn-ico {
          color: #FFF;
        }
      }
    }

    &_remove {
      &::before {
        border: 3px solid rgba($color: #000000, $alpha: .25);
        width: 28px;
        height: 28px;
      }
      #{$root} {
        &__qty-ico {
          color: rgba($color: #000000, $alpha: .25);
        }
      }

      &:focus {
        &::before {
          border-color: $red-color;
        }
        #{$root} {
          &__qty-ico {
            color: $red-color;
          }
        }
      }
    }
  }

  &__btn-ico {
    position: relative;
    z-index: 2;
    pointer-events: none;
  }

  &__val {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    flex: 1 1;

    &_cart {
      max-width: 31px;
    }
  }
}
