.restore {
  margin-bottom: 20px;

  @media(min-width: 768px) {
    margin-bottom: 40px;
  }

  &__wrap {
    justify-content: center;
  }

  &__content {
    width: 100%;
    max-width: 455px;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;

    @media(min-width: 768px) {
      margin-bottom: 30px;
    }
  }

}