.slider {
  background: $blue-light-color;
  position: relative;

  $root: &;

  &__container {
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    position: relative;

    &::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #FFF;
      z-index: 1;
      position: absolute;
      opacity: .65;
    }
  }

  &__item-img {
    width: auto;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media(max-width: 767px) {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__item-content {
    width: 100%;
    max-width: 435px;
    padding: 90px 0 125px;
    position: relative;
    z-index: 1;

    @media (min-width: 992px) and (max-width: 1310px) {
      margin-left: 55px;
    }
    @media(max-width: 1199px) {
      padding: 70px 0 100px;
    }
    @media(max-width: 991px) {
      margin: 0 auto;
      text-align: center;
      padding: 60px 0 85px;
    }
    @media(max-width: 767px) {
      max-width: 400px;
    }
  }

  &__item-title {
    color: #000;
    font-weight: 900;
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 25px;

    @media(max-width: 767px) {
      font-size: 30px;
      line-height: 42px;
    }

    @media(max-width: 575px) {
      max-width: 300px;
      font-size: 28px;
      line-height: 38px;
      margin: 0 auto 25px;
    }
  }

  &__item-descr {
    color: $dark-color;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
    @media(max-width: 767px) {
      max-width: calc(100% - 45px);
      font-size: 13px;
      line-height: 22px;
      margin: 0 auto 60px;
    }
  }

  &__item-link {
    width: 250px;
    height: 60px;

    @media(max-width: 767px) {
      width: 220px;
      height: 50px;
      font-size: 14px;
      line-height: 17px;
    }

  }

  &__btn {
    width: 40px;
    height: 40px;
    background: #FFF;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: calc(50% - 20px);

    @media(max-width: 767px) {
      width: 30px;
      height: 30px;
      top: calc(50% - 15px);
    }

    &_prev {
      left: 50px;
      @media(max-width: 1199px) {
        left: 35px;
      }
      @media(max-width: 991px) {
        left: 20px;
      }
      @media(max-width: 767px) {
        left: 0;
      }
    }

    &_next {
      right: 50px;
      @media(max-width: 1199px) {
        right: 35px;
      }
      @media(max-width: 991px) {
        right: 20px;
      }
      @media(max-width: 767px) {
        right: 0;
      }
    }

    &:hover, &:focus, &:active {
      background: $blue-color;
      #{$root} {
        &__btn-ico {
          color: #FFF;
        }
      }
    }


  }

  &__btn-ico {
    width: 8px;
    height: 13px;
    fill: none;
    color: $grey-color;
    @media(max-width: 767px) {
      width: 4px;
      height: 8px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;

    @media(max-width: 767px) {
      bottom: 15px;
    }
  }

  &__bullet {
    background: #FFFF;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 0 4.5px;
    opacity: .5;
    transition: opacity .3s ease;
    cursor: pointer;

    &_active {
      opacity: 1;
    }
  }
}