.widget {
  position: fixed;
  left: -12px;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  padding: 32px 24px 12px;
  opacity: 1;
  transition: all 0.5s ease;

  @media(min-width: 768px) {
    padding: 32px;
  }

  $root: &;

  &.--hide {

    #{$root} {
      &__content {
        transform: translateX(-100%);
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0s ease 0s, visibility 0.3s ease 0s, position 0.3s ease 0s;
      }

      &__preview {
        animation-name: pulse-theme;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }

  &:not(.--hide) {
    #{$root} {
      &__preview {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0s ease 0s, visibility 0.3s ease 0s, position 0.3s ease 0s;
      }
      &__content {
        position: relative;
        visibility: visible;
        transform: translateX(0%);
        opacity: 1;
        transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, position 0.3s ease 0s;
      }
    }
  }

  &__preview {
    width: 62px;
    height: 62px;
    cursor: pointer;
    border: 1px solid $red-color;
    border-radius: 50%;
    background: $light-color;
    margin: 0 0 0 auto;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    visibility: visible;
    transform: translateX(0%);
    opacity: 1;
    transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s, position 0.3s ease 0s;

    @media(min-width: 768px) {
      width: 72px;
      height: 72px;
    }
  }

  &__circle {
    border-radius: 50%;
    width: 62px;
    height: 62px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    background: #fff;
    padding: 3px;
    position: absolute;
    left: calc(50% - 31px);
    top: 0;
    transform: translateY(-28px);

    @media(min-width: 768px) {
      width: 72px;
      height: 72px;
      transform: translateY(-32px);
      left: calc(50% - 36px);
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__content {
    max-width: 280px;
    padding: 48px 20px 12px;
    background-color: #fff;
    box-shadow: rgba(99, 85, 85, 0.26) 0px 17px 40px;
    border-radius: 4px;
    text-align: center;

    @media(min-width: 768px) {
      padding: 62px 40px 20px;
    }
  }

  &__close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.7;
    padding: 4px;
    color: $dark-color;

    @media(min-width: 768px) {
      width: 26px;
      height: 26px;
      padding: 8px;
    }

    &:hover {
      color: $red-color;
      opacity: 1;
    }
  }

  &__cross {
    width: 100%;
    height: 100%;
    color: inherit;
    pointer-events: none;
  }

  &__contacts {
    text-align: center;
  }

  &__phone {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    text-decoration: none;
    color: $red-color;
    margin-bottom: 16px;
    display: inline-flex;

    &:hover {
      color: $dark-color;
      text-decoration: none;
    }
  }

  &__messenger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__messenger-link {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 0 6px;
    padding: 6px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;

    &--whatsapp {
      background: #25D366;

      &:hover {
        background: #2BB741;
      }
    }

    &--tg {
      background: #229ED9;

      &:hover {
        background: #229ED9;
      }

      #{$root} {
        &__social-ico {
          margin-right: 2px;
        }
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__messenger-ico {
    width: 100%;
    height: 100%;
    color: inherit;
  }
}
