.intro {
  padding: 112px 0 115px;
  background-image: url('/themes/store/assets/images/intro/intro.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 88px;

  @media(min-width: 768px) {
    padding: 112px 0 115px;
  }

  @media(min-width: 992px) {

  }

  @media(min-width: 1200px) {

  }

  &__wrap {
    position: relative;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1044px;
    height: 100%;
    background: rgba(255, 255, 255, 0.48);
  }

  &__content {
    width: 100%;
    max-width: 670px;
    padding: 60px 47px 47px 0;
    position: relative;
  }

  &__title {
    color: $black-color;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 55px;
  }
}
