<div class="advantages section">
  <div class="advantages__wrap wrap">
    <div class="advantages__container">
      <div class="advantages__row">
        {% for add in this.theme.adds %}
        <div class="advantages__item">
          <div class="advantages__item-img">
            <picture>
              <source srcset="{{ add.image|media|resize(40, 40, { quality: '100' }) }}">
              <img src="{{ add.image|media|resize(40, 40, { quality: '100' }) }}" alt="{{ product.title }}" class="advantages__item-thumb" />
            </picture>
          </div>
          <div class="advantages__item-title">{{ add.title }}</div>
          <p class="advantages__item-descr">{{ add.descr }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
