{{ form_open({ class: 'contact-form', id: 'authUser'  }) }}
  <div class="contact-form__form-group">
    <label class="contact-form__form-label">
      Логин
      <span class="contact-form__form-mark">*</span>
    </label>
    <input type="email" placeholder="user@mail.ru" class="contact-form__form-input" name="login">
    <span class="contact-form__error" data-error-for="login"></span>
  </div>
  <div class="contact-form__form-group">
    <label class="contact-form__form-label">
      Пароль
      <span class="contact-form__form-mark">*</span>
    </label>
    <input type="password" placeholder="**********" class="contact-form__form-input" name="password">
    <span class="contact-form__error" data-error-for="password"></span>
    <a data-js-action="open-modal" data-type-modal="reset-password" class="contact-form__forgot-password">Забыли пароль?</a>
  </div>
  <button type="submit" class="contact-form__btn contact-form__btn--full">Войти</button>
{{ form_close() }}
