[viewBag]
==
<div class="breadcrumbs section">
  <div class="breadcrumbs__wrap wrap" itemscope itemtype="https://schema.org/BreadcrumbList">
    <div class="breadcrumbs__item" itemscope itemtype="https://schema.org/BreadcrumbList">
      <a itemprop="item" class="breadcrumbs__link" href="{{ url('/') }}">
        <span itemprop="name">Главная</span>
      </a>
      <div class="breadcrumbs__hidden" itemprop="url" href="{{ url('/') }}"></div>
      <meta itemprop="position" content="1" />
      <svg class="breadcrumbs__arrow">
        <use xlink:href="{{ 'assets/spritemap.svg#sprite-breadcrumbs'|theme }}"></use>
      </svg>
    </div>
    <div class="breadcrumbs__item" itemscope itemtype="https://schema.org/BreadcrumbList" >
      <div itemprop="name" class="breadcrumbs__link">{{ this.page.title }}</div>
      <div class="breadcrumbs__hidden" itemprop="item" itemprop="url" href="{{ url('/') }}{{ this.page.url }}"></div>
      <meta itemprop="position" content="2" />
    </div>
  </div>
</div>
