description = "Footer"
[CategoryMenu] templateType = "footer"
[viewBag]
==

<footer class="footer section">
  <div class="footer__wrap wrap">
    <div class="footer__top">
      <div class="footer__nav">
        <a href="/" aria-current="page" class="footer__nav-link router-link-exact-active router-link-active">Главная</a>
        <a href="/post/about" class="footer__nav-link">О компании</a>
        <a href="/post/cooperation" class="footer__nav-link">Сотрудничество</a>
        <a href="/post/delivery" class="footer__nav-link">Оплата и доставка</a>
        <a href="/stocks" class="footer__nav-link">Акции и скидки</a>
        <a href="/post/contacts" class="footer__nav-link">Контакты</a>
      </div>
      <div class="footer__right">
        <div class="footer__contacts">
          <svg  class="footer__contacts-ico icon-phone">
            <use xlink:href="{{ 'assets/spritemap.svg#sprite-phone'|theme }}"></use>
          </svg>
          <div class="footer__contact-city">{{ this.theme.city }}, {{ this.theme.address }}</div>
          {% for phone in this.theme.phone %}
            <a href="tel:{{ phone.val }}" class="footer__contact-phone">{{ phone.val }}</a>
          {% endfor %}
        </div>
        <div class="footer__social">
          <div class="footer__social-title">Присоединяйтесь!</div>
          <div class="footer__social-list">
            {% if this.theme.whatsapp %}
            <a href="whatsapp://send?phone={{ this.theme.whatsapp }}" class="footer__social-link footer__social-link--wa">
              <svg class="footer__social-ico icon-whatsapp ">
                <use xlink:href="{{ 'assets/spritemap.svg#sprite-whatsapp'|theme }}"></use>
              </svg>
            </a>
            {% endif %}
            {% if this.theme.viber %}
            <a href="viber://add?number={{ this.theme.viber }}" class="footer__social-link footer__social-link--viber">
              <svg class="footer__social-ico icon-viber">
                <use xlink:href="{{ 'assets/spritemap.svg#sprite-viber'|theme }}"></use>
              </svg>
            </a>
            {% endif %}
            {% if this.theme.instagram %}
            <a href="{{ this.theme.instagram }}" target="_blank" class="footer__social-link footer__social-link--instagram">
              <svg class="footer__social-ico icon-instagram">
                <use xlink:href="{{ 'assets/spritemap.svg#sprite-instagram'|theme }}"></use>
              </svg>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <form class="contact-form contact-form--footer" data-form="send-message">
        <div class="contact-form__form-group">
          <input type="text" placeholder="Ваше имя*" class="contact-form__form-input" name="user_name" />
          <span class="contact-form__error" data-error-for="user_name"></span>
        </div>
        <div class="contact-form__form-group">
          <input type="hidden" class="contact-form__form-input" value="Заявка из контакной формы" name="user_subject" />
          <input type="tel" placeholder="+7 (999) 999-99-99*" data-mask="phone" class="contact-form__form-input" name="user_phone" />
          <span class="contact-form__error" data-error-for="user_phone"></span>
        </div>
        <button type="submit" class="contact-form__btn">Отправить</button>
        <div class="contact-form__status" data-js="success"></div>
      </form>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="footer__container container">
      <div class="footer__copyright-text">
        2018 - 2021 “Цветы оптом в Волжском дешево – купить без посредников”
      </div>
    </div>
  </div>
</footer>
