description = "Header"

[viewBag]

[HeaderSession]

[CategoryMenu]
templateType = "default"

[CategoryMenu CategoryMenu2]
templateType = "mobile"

[staticMenu mobile]
code = "mobile"
==
<header class="header">
  <div class="header__top">
    <div class="header__wrap wrap">
      <div class="header__top-row">
        <button type="button" class="header__menu" data-role="open-menu">
          <svg class="header__menu-ico icon-menu">
            <use xlink:href="{{ 'assets/spritemap.svg#sprite-menu'|theme }}"></use>
          </svg>
          <div class="header__menu-text">меню</div>
        </button>

        <div class="header__top-contacts">
          <div class="header__top-contact">
            <svg  class="header__top-ico icon-phone">
              <use xlink:href="{{ 'assets/spritemap.svg#sprite-phone'|theme }}"></use>
            </svg>
            {% for phone in this.theme.phone %}
              <a href="tel:{{phone.val}}" class="header__top-phone">{{ phone.val }}</a>
            {% endfor %}
          </div>
          <div class="header__top-contact">
            <svg class="header__top-ico icon-address">
              <use xlink:href="{{ 'assets/spritemap.svg#sprite-pin'|theme }}"></use>
            </svg>
            <div class="header__top-address">{{this.theme.city}}, {{this.theme.address}}</div>
          </div>
          <div class="header__top-messenger">
            {% if this.theme.whatsapp %}
              <a href="whatsapp://send?phone={{ this.theme.whatsapp }}" class="header__messenger-link header__messenger-link--wa">
                <svg class="header__messenger-ico icon-whatsapp ">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-whatsapp'|theme }}"></use>
                </svg>
              </a>
            {% endif %}
            {% if this.theme.viber %}
              <a href="viber://add?number={{ this.theme.viber }}" class="header__messenger-link header__messenger-link--viber">
                <svg class="header__messenger-ico icon-viber">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-viber'|theme }}"></use>
                </svg>
              </a>
            {% endif %}
            {% if this.theme.instagram %}
              <a href="{{ this.theme.instagram }}" target="_blank" class="header__messenger-link header__messenger-link--instagram">
                <svg class="header__messenger-ico icon-instagram">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-instagram'|theme }}"></use>
                </svg>
              </a>
            {% endif %}
          </div>
        </div>

        <div class="header__top-search">
          <form class="search-form__form" method="GET" action="/search">
            <input
              type="text"
              autocomplete="off"
              placeholder="Поиск по каталогу..."
              class="search-form__input"
              name="search"
            />
            <button type="submit" class="search-form__btn">
              <svg class="search-form__btn-ico icon-search">
                <use xlink:href="{{ 'assets/spritemap.svg#sprite-search'|theme }}"></use>
              </svg>
            </button>
          </form>
        </div>

        <div class="header__right">
          <div class="header__person">
            {% if user %}
            <a href="{{ 'account'|page }}" class="header__person-link">
              <svg class="header__person-ico icon-person">
                <use xlink:href="{{ 'assets/spritemap.svg#sprite-person'|theme }}"></use>
              </svg>
            </a>
            {% else %}
            <a href="#!" data-js-action="open-modal" data-name="sign" class="header__person-link">
              <svg class="header__person-ico icon-person">
                <use xlink:href="{{ 'assets/spritemap.svg#sprite-person'|theme }}"></use>
              </svg>
            </a>
            {% endif %}
          </div>
          <div class="header__cart">
            <div class="header__cart-heading" data-js-action="open-modal" data-name="cart">
              <div class="header__cart-val">
                <svg class="header__cart-ico icon-cart">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-shopping-cart'|theme }}"></use>
                </svg>
                <div class="header__cart-count js-cart-count">0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__center" itemscope itemtype="http://schema.org/Organization">
    <div class="header__wrap wrap">
      <div class="header__center-row">
        <a href="{{ 'home'|page }}" class="header__logo-url">
          <img
            itemprop="logo url"
            src="{{ this.theme.site_logo|media|resize(false, 85, { mode: 'crop', quality: '100' }) }}"
            class="header__logo"
            alt="{{this.theme.site_name}}"
          />
          <span itemprop="name" hidden>{{this.theme.site_name}}</span>
        </a>
        <div class="header__content">

          {% partial "menu" items=mobile.menuItems %}

          <div class="header__contacts">
            <svg  class="header__contacts-ico icon-phone">
              <use xlink:href="{{ 'assets/spritemap.svg#sprite-phone'|theme }}"></use>
            </svg>
            <div class="header__contact-city" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="addressLocality">{{ this.theme.city }}</span>,
              <span itemprop="streetAddress">{{ this.theme.address }}</span>
              <span itemprop="postalCode" class="header__address-index" hidden>{{ this.theme.post_code }}</span>
            </div>
            {% for phone in this.theme.phone %}
            <a href="tel:{{ phone.val }}" itemprop="telephone" class="header__contact-phone">{{ phone.val }}</a>
            {% endfor %}
            <div class="header__messenger">
              {% if this.theme.whatsapp %}
              <a href="whatsapp://send?phone={{ this.theme.whatsapp }}" class="header__messenger-link header__messenger-link--wa">
                <svg class="header__messenger-ico icon-whatsapp ">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-whatsapp'|theme }}"></use>
                </svg>
              </a>
              {% endif %}
              {% if this.theme.viber %}
              <a href="viber://add?number={{ this.theme.viber }}" class="header__messenger-link header__messenger-link--viber">
                <svg class="header__messenger-ico icon-viber">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-viber'|theme }}"></use>
                </svg>
              </a>
              {% endif %}
              {% if this.theme.instagram %}
              <a href="{{ this.theme.instagram }}" target="_blank" class="header__messenger-link header__messenger-link--instagram">
                <svg class="header__messenger-ico icon-instagram">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-instagram'|theme }}"></use>
                </svg>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="header__wrap wrap">
      <form class="search-form__form" method="GET" action="/search">
        <input
          type="text"
          autocomplete="off"
          placeholder="Поиск по каталогу..."
          class="search-form__input"
          name="search"
        />
        <button type="submit" class="search-form__btn">
          <svg class="search-form__btn-ico icon-search">
            <use xlink:href="{{ 'assets/spritemap.svg#sprite-search'|theme }}"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="mobile-nav" data-js="mobile-nav">
    <div class="mobile-nav__inner">
      <button type="button" class="mobile-nav__close" data-role="close-menu">
        <svg class="mobile-nav__close-ico icon-close">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>
      <div class="mobile-nav__inner-scroll">
        <div class="mobile-nav__nav mobile-nav__nav--menu">
          {% partial "mobile-menu" items=mobile.menuItems %}
        </div>
      </div>
    </div>
  </div>
</header>
