<div class="modal" id="modal">
  <div class="modal__dialog" data-role="modal-close">

    <div class="modal__popup modal__popup_cart" data-modal="cart">
      <button type="button" class="modal__close" data-role="modal-close">
        <svg class="modal__close-ico icon-cross">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>

      <div class="modal__wrap">
        <div id="mini-cart">
          <MiniCart></MiniCart>
        </div>
      </div>
    </div>

    <div class="modal__popup" data-modal="sign">
      <button type="button" class="modal__close" data-role="modal-close">
        <svg class="modal__close-ico icon-cross">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>

      <div class="modal__wrap">

        <div class="tabs" data-js="tabs">
          <div class="tabs__heading">
            <button type="button" class="tabs__btn tabs__btn--current" data-index="0">Авторизация</button>
            <button type="button" class="tabs__btn" data-index="1">Регистрация</button>
          </div>
          <div class="tabs__body">
            <div class="tabs__item tabs__item--selected" data-tab="0">
              {% partial "auth" %}
            </div>
            <div class="tabs__item" data-tab="1">
              {% partial "register" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal__popup" data-modal="logout">
      <button type="button" class="modal__close" data-role="modal-close">
        <svg class="modal__close-ico icon-cross">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>
      <div class="modal__wrap">
        <svg class="modal__success-ico">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-success'|theme }}"></use>
        </svg>
        <div class="modal__description">Вы успешно вышли!</div>
        <a href="#!" data-role="modal-close" class="button modal__button">Закрыть окно</a>
      </div>
    </div>

    {% if this.page.layout == 'product' %}
    <div class="modal__popup" data-modal="add-comment">
      <button type="button" class="modal__close" data-role="modal-close">
        <svg class="modal__close-ico icon-cross">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>
      <div class="modal__popup-container">
        <div class="title title_sm modal__popup-title">Оставить отзыв</div>
        <form class="modal__form" id="add-comment">
          <div class="modal__form-group">
            <label class="modal__form-label">Как вас зовут?</label>
            <input type="text" name="title" class="modal__form-input" placeholder="Иванов Иван" />
            <span class="modal__form-error" data-error-for="title"></span>
          </div>
          <div class="modal__form-group modal__form-group_last">
            <label class="modal__form-label">Ваш отзыв</label>
            <textarea name="description" class="modal__form-input modal__form-input_textarea" placeholder="" /></textarea>
            <span class="modal__form-error" data-error-for="description"></span>
          </div>
          <div class="modal__form-group">
            <label class="modal__form-label">Ваша оценка</label>
            <div class="modal__stars">
              <label class="modal__star">
                <input class="modal__star-input modal__star-input_one" value="1" type="radio" name="star" data-js-action="star-rating" />
                <svg class="modal__star-ico">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-star'|theme }}"></use>
                </svg>
              </label>

              <label class="modal__star">
                <input class="modal__star-input modal__star-input_two" value="2" type="radio" name="star" data-js-action="star-rating" />
                <svg class="modal__star-ico">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-star'|theme }}"></use>
                </svg>
              </label>

              <label class="modal__star">
                <input class="modal__star-input modal__star-input_three" value="3" type="radio" name="star" data-js-action="star-rating" />
                <svg class="modal__star-ico">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-star'|theme }}"></use>
                </svg>
              </label>

              <label class="modal__star">
                <input class="modal__star-input modal__star-input_four" value="4" type="radio" name="star" data-js-action="star-rating" />
                <svg class="modal__star-ico">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-star'|theme }}"></use>
                </svg>
              </label>

              <label class="modal__star">
                <input class="modal__star-input modal__star-input_five" value="5" type="radio" name="star" data-js-action="star-rating" />
                <svg class="modal__star-ico">
                  <use xlink:href="{{ 'assets/spritemap.svg#sprite-star'|theme }}"></use>
                </svg>
              </label>

              <span class="modal__form-error" data-error-for="star"></span>
            </div>
          </div>
          <input type="hidden" name="product_id" value="" data-input="product-id" />
          <button type="submit" class="button button_primary modal__form-button">Оставить отзыв</button>
          <span class="modal__form-done" data-comment="done"></span>
        </form>
      </div>
    </div>
    {% endif %}

    <div class="modal__popup" data-modal="reset-password">
      <button type="button" class="modal__close" data-role="modal-close">
        <svg class="modal__close-ico icon-cross">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>
      <div class="modal__title">Восстановление пароля</div>
      {{ form_open({ class: 'contact-form', id: 'reset-password'  }) }}
        <div class="contact-form__form-group">
          <label class="contact-form__form-label">
            Email
            <span class="contact-form__form-mark">*</span>
          </label>
          <input type="email" placeholder="user@mail.ru" class="contact-form__form-input" name="email">
          <span class="contact-form__error" data-error-for="email"></span>
        </div>
        <button type="submit" class="contact-form__btn contact-form__btn--full">Сбросить пароль</button>
        <a data-js-action="open-modal" data-name="sign" class="contact-form__link contact-form__link--center">Я вспомнил пароль</a>
      {{ form_close() }}
    </div>

    <div class="modal__popup" data-modal="reset-success">
      <button type="button" class="modal__close" data-role="modal-close">
        <svg class="modal__close-ico icon-cross">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>
      <div class="modal__wrap">
        <svg class="modal__success-ico">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-success'|theme }}"></use>
        </svg>
        <div class="modal__description" id="reset-success"></div>
        <a href="#!" data-role="modal-close" class="button modal__button">Закрыть окно</a>
      </div>
    </div>

    {% if this.page.layout == 'category' %}
    <div class="modal__popup modal__popup_lg" data-modal="single-product">
      <button type="button" class="modal__close" data-role="modal-close">
        <svg class="modal__close-ico icon-cross">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>
      <div class="modal__popup-container">
        <div class="loading loading_hide loading_modal" id="quick-loading">
          <div class="loading__wrapper">
            <div class="loading__layer">
              <div class="loading__circle-clipper loading__circle-clipper--left">
                <div class="loading__circle"></div>
              </div>
              <div class="loading__gap-path">
                <div class="loading__circle"></div>
              </div>
              <div class="loading__circle-clipper loading__circle-clipper--right">
                <div class="loading__circle"></div>
              </div>
            </div>
          </div>
        </div>
        <div id="quick-output"></div>
      </div>
    </div>
    {% endif %}

    <div class="modal__popup" data-modal="form">
      <button type="button" class="modal__close" data-role="modal-close">
        <svg class="modal__close-ico icon-cross">
          <use xlink:href="{{ 'assets/spritemap.svg#sprite-cross'|theme }}"></use>
        </svg>
      </button>
      <div class="modal__title">Заказать прайс-лист</div>
      <form class="contact-form" data-form="send-message">
        <div class="contact-form__form-group">
          <label class="contact-form__form-label">
            Имя
            <span class="contact-form__form-mark">*</span>
          </label>
          <input type="text" placeholder="" class="contact-form__form-input" name="user_name">
          <span class="contact-form__error" data-error-for="user_name"></span>
        </div>
        <div class="contact-form__form-group">
          <label class="contact-form__form-label">
            Телефон
            <span class="contact-form__form-mark">*</span>
          </label>
          <input type="tel" placeholder="" class="contact-form__form-input" name="user_phone">
          <span class="contact-form__error" data-error-for="user_phone"></span>
        </div>
        <div class="contact-form__form-group">
          <label class="contact-form__form-label">
            E-mail
          </label>
          <input type="text" placeholder="" class="contact-form__form-input" name="user_email">
          <span class="contact-form__error" data-error-for="user_email"></span>
        </div>
        <button type="submit" class="contact-form__btn">Отправить</button>
        <input type="hidden" name="user_subject" value="Заказать прайс-лист">
        <div class="contact-form__status" data-js="form-status"></div>
      </form>
    </div>
  </div>
</div>
