description = "Script width vue tags"
==
<?php
function onStart()
{
    $scriptAsset = 'assets/dist/js/app.js';
    $lastUpdate = filemtime($this->theme->getPath() . '/' . $scriptAsset);
    $this['scripts'] = sprintf('%s?v=%s', $this->controller->themeUrl($scriptAsset), $lastUpdate);

    $scriptVueAsset = 'assets/dist/js/vue.js';
    $lastVueUpdate = filemtime($this->theme->getPath() . '/' . $scriptVueAsset);
    $this['vuescripts'] = sprintf('%s?v=%s', $this->controller->themeUrl($scriptVueAsset), $lastVueUpdate);
}
?>
==
<script src="{{scripts}}"></script>
<script src="{{vuescripts}}"></script>
{% framework extras %}
{% scripts %}
