description = "Сatalog page"

[CategoryList]
templateType = "homepage"
==
<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <div class="wrapper" data-js="wrapper">
      <!-- Header -->
      {% partial "header" %}

      <!-- Panel -->
      {% partial "fixed-panel" %}

      <!-- Content -->
      <main class="wrapper__container">
        <div class="section">
          <div class="container container--main">
          {% component 'CategoryList' %}
          </div>
        </div>
      </main>

      <!-- Footer -->
      {% partial "footer" %}
      {% partial "modals" %}
    </div>
    {% partial "scripts" %}
  </body>
</html>
