description = "Checkout page"
==
<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "header" %}

    <!-- Content -->
    <main class="main section">
      <div class="main__wrap wrap">
        <div class="main__content">
          <!-- хлебные крошки старт --->
          {% partial "breadcrumbs" %}
          <!-- хлебные крошки конец --->
          <div id="checkout">
            <Checkout></Checkout>
          </div>
        </div>
      </div>
    </main>

    {% partial "modals" %}
    {% partial "scripts-vue" %}
  </body>
</html>