description = "Checkout page"
==
<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "header" %}

    <!-- Content -->
    <main class="main">
      <!-- хлебные крошки старт --->
      {% partial "breadcrumbs" %}
      <!-- хлебные крошки конец --->
      <div id="checkout">
        <Checkout></Checkout>
      </div>
    </main>

    <!-- Footer -->
    {% partial "footer" %}
    {% partial "modals" %}
    {% partial "scripts-vue" %}
  </body>
</html>