description = "Contact page"
==

<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "header" %}
    <!-- Content -->
    <main class="main">
      {% partial "breadcrumbs" %}
      <section class="post section post--page">
        <div class="post__wrap wrap">
          <div class="post__heading">
            <h1 class="post__title">{{ this.page.title }}</h1>
          </div>
          <div class="post__body">
            <div class="contact" itemscope itemtype="http://schema.org/Organization">
              <span itemprop="name" hidden>{{this.theme.site_name}}</span>
              <img itemprop="logo url" src="{{ this.theme.site_logo|media }}" alt="{{this.theme.site_name}}" hidden />

              <div class="contact__box" itemscope itemtype="http://schema.org/PostalAddress">
                <div class="contact__title">Офис</div>
                <p class="contact__text">
                  <span itemprop="addressLocality">{{ this.theme.city }}</span>,
                  <span itemprop="streetAddress">{{ this.theme.address }}</span>
                  <span itemprop="postalCode" hidden>{{ this.theme.post_code }}</span>
                </p>
              </div>

              <div class="contact__box" >
                <div class="contact__title">Телефоны</div>
                {% for phone in this.theme.phone %}
                <p class="contact__text">
                  <a class="contact__link" itemprop="telephone" href="tel:{{ phone.val }}">{{ phone.val }}</a>
                  {% if phone.text|length > 0 %}<span class="contact__small"> {{ phone.text }} </span> {% endif %}
                </p>
                {% endfor %}
              </div>

              <div class="contact__box" >
                <div class="contact__title">E-mail</div>
                <p class="contact__text">
                  <a class="contact__link" itemprop="email" href="mailto:{{ this.theme.t_email }}">{{ this.theme.t_email }}</a>
                  <span class="contact__small">- по общим вопросам</span>
                </p>
              </div>

              <div class="contact__box" >
                <div class="contact__title">График работы</div>
                {% for open in this.theme.open %}
                <p class="contact__text">
                  {{ open.val }}
                  {% if open.text|length > 0 %}<span class="contact__small"> {{ open.text }} </span> {% endif %}
                </p>
                {% endfor %}
              </div>

              <div class="contact__map">
                {{ this.theme.ymap|raw  }}
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    {<!-- Footer -->
    {% partial "footer" %}
    {% partial "modals" %}
    {% partial "loading" %}
    {% partial "scripts-vue" %}
  </body>
</html>
