description = "Homepage"

[CategoryList]
templateType = "homepage"

[PopularProducts]
productsType = "is_new"
productsTitle = "Новинки"

[PopularProducts PopularProducts2]
productsType = "is_hit"
productsTitle = "Лучшее"

[GalleryComponent]
galleryName = 1
==
<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "header" %}

    <!-- Content -->
    <main class="main">
      <section class="intro section">
        <div class="wrap intro__wrap">
          <div class="intro__bg"></div>
          <div class="intro__content">
            <h1 class="intro__title">Ю-Упак - это полный цикл производства упаковки из всех видов картона</h1>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    {% partial "footer" %}
    {% partial "modals" %}
    {% partial "scripts" %}
  </body>
</html>
