description = "Homepage"

[CategoryList]
templateType = "homepage"

[PopularProducts]
productsType = "is_new"
productsTitle = "Новинки"

[PopularProducts PopularProducts2]
productsType = "is_hit"
productsTitle = "Хиты"
==
<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "header" %}

    <!-- Content -->
    <main class="main">
      {% partial "banner" %}
      {% component 'CategoryList' %}
      {% component 'PopularProducts' %}
      {% component 'PopularProducts2' %}

      <section class="post section">
        <div class="post__wrap wrap">
          <h1 class="post__title">{{ this.theme.site_name }}</h1>
          <div class="post__content">{% page %}</div>
        </div>
      </section>
      {% partial "adds" %}
    </main>

    <!-- Footer -->
    {% partial "footer" %}
    {% partial "modals" %}
    {% partial "loading" %}
    {% partial "scripts-vue" %}
  </body>
</html>
