description = "Default Page"

==

<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <div class="wrapper" data-js="wrapper">
      <!-- Header -->
      {% partial "header" %}

      <!-- Panel -->
      {% partial "fixed-panel" %}

      <!-- Content -->
      <main class="wrapper__container">
        <section class="post section">
          <div class="post__container container container--main">
            {% partial "breadcrumbs" %}
            <div class="post__heading">
              <div class="post__title">{{ this.page.title }}</div>
            </div>
            <div class="post__body">{% page %}</div>
          </div>
        </section>
      </main>

      <!-- Footer -->
      {% partial "footer" %}
      {% partial "modals" %}
    </div>
    {% partial "scripts" %}
  </body>
</html>
