description = "Product Page"

[SingleProduct]
==

<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <div class="wrapper" data-js="wrapper">
      <!-- Header -->
      {% partial "header" %}

      <!-- Panel -->
      {% partial "fixed-panel" %}

      <!-- Content -->
      <main class="wrapper__container">
        {% component 'SingleProduct' %}
      </main>

      <!-- Footer -->
      {% partial "footer" %}
      {% partial "modals" %}
    </div>
    {% partial "scripts" %}
  </body>
</html>
