description = "Restore password"
==
<?php
function onStart()
{
  $this['reset'] = request()->get('reset');
  if($this['reset'] == null) {
    return \Redirect::to('/');
  }
}
?>
==
<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "header" %}

    <!-- Content -->
    <main class="main section">
      <div class="main__wrap wrap">
        <div class="main__content">
          <!-- хлебные крошки старт --->
          {% partial "breadcrumbs" %}
          <!-- хлебные крошки конец --->
          <section class="restore section">
            <div class="wrap restore__wrap">
              {% if reset %}
              <div class="restore__content">
                <h1 class="restore__title title">Восстановление пароля</h1>
                <form id="restore-password" class="form">
                  <div class="form__group">
                    <label class="form__group-label">Код</label>
                    <input type="text" name="code" class="form__group-input" placeholder="Код восстановления" value="{{ reset }}" />
                    <span class="form__group-error" data-error-for="code"></span>
                  </div>
                  <div class="form__group form__group_last">
                    <label class="form__group-label">Новый пароль</label>
                    <input type="password" name="password" class="form__group-input" placeholder="**********" />
                    <span class="form__group-error" data-error-for="password"></span>
                  </div>
                  <button type="submit" class="button button_primary form__submit">Изменить пароль</button>
                  <div class="form__done" data-js-action="response"></div>
                </form>
              </div>
              {% endif %}
            </div>
          </section>
        </div>
      </div>
    </main>

    <!-- Footer -->
    {% partial "footer" %}
    {% partial "modals" %}
    {% partial "scripts" %}
  </body>
</html>