description = "Search page"
==

<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <div class="wrapper" data-js="wrapper">
      <!-- Header -->
      {% partial "header" %}

      <!-- Panel -->
      {% partial "fixed-panel" %}

      <!-- Content -->
      <main class="wrapper__container">
        <div id="search">
          <Search></Search>
        </div>
      </main>

      <!-- Footer -->
      {% partial "footer" %}
      {% partial "modals" %}
    </div>
    {% partial "scripts" %}
    {% partial "scripts-vue" %}
  </body>
</html>
