description = "Static Page"

[staticPage]
useContent = 1
default = 0
==

<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "header" %}
    <!-- Content -->
    <main class="main">
      {% partial "breadcrumbs" %}
      <section class="post section post--page">
        <div class="post__wrap wrap">
          <div class="post__heading">
            <h1 class="post__title">{{ this.page.title }}</h1>
          </div>
          <div class="post__body"> {% component 'staticPage' %}</div>
        </div>
      </section>
    </main>
    {<!-- Footer -->
    {% partial "footer" %}
    {% partial "modals" %}
    {% partial "loading" %}
    {% partial "scripts-vue" %}
  </body>
</html>
