description = "Success order"
==
<?php
function onStart()
{
  $this['order_id'] = request()->get('id');
  if($this['order_id'] == null) {
    return \Redirect::to('/');
  }
}
?>
==

<!DOCTYPE html>
<html lang="ru">
  {% partial "meta" %}
  <body>
    <!-- Header -->
    {% partial "header" %}
    <!-- Content -->
    <main class="main">
      {% partial "breadcrumbs" %}
      {% if order_id %}
        <section class="post section post--page">
          <div class="post__wrap wrap">
            <div class="post__order">
              <div class="post__order-title">Заказ № {{order_id}} принят</div>
              <svg class="post__order-ico">
                <use xlink:href="{{ 'assets/spritemap.svg#sprite-success'|theme }}"></use>
              </svg>
              <p class="post__order-descr">
                Наш менеджер свяжется с вами в ближайшее время,
                по указанному вами номеру телефона, для уточнения
                деталей заказа и согласования время доставки
              </p>
              <a href="/" class="post__order-button button">Вернуться на главную</a>
            </div>
          </div>
        </section>
      {% endif %}
    </main>
    {<!-- Footer -->
    {% partial "footer" %}
    {% partial "modals" %}
    {% partial "loading" %}
    {% partial "scripts-vue" %}
  </body>
</html>
