.tabs {
  width: 100%;
  position: relative;

  &__heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -10px 20px;
    padding-bottom: 20px;
  }

  &__btn {
    color: $gray-color;
    font-size: 16px;
    padding-left: 30px;
    margin: 0 10px;
    position: relative;

    @media (min-width: 768px) {
      font-size: 20px;
    }

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: $gray-color;
      position: absolute;
      left: 0;
      top: calc(50% - 5px);
      transition: background .2s ease;
    }

    &--current,
    &:hover {
      color: $red-color;
      font-weight: 500;
    }

    &--current {
      &::after {
        background: $red-color;
      }
    }
  }

  &__item {
    display: none;

    &--selected {
      display: block;
    }
  }
}
