.tabs {
  width: 100%;
  position: relative;

  &__heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px 20px;
    padding-bottom: 20px;
    position: relative;

    &::after {
      content: "";
      display: block;
      left: 0;
      right: 0;
      bottom: 0;
      width: calc(100% - 20px);
      height: 2px;
      border-radius: 10px;
      background: $border-color;
      position: absolute;
      margin: 0 auto;

      @media (min-width: 768px) {
        height: 4px;
      }
    }
  }

  &__btn {
    color: $dark-color;
    font-size: 16px;
    font-weight: 500;
    padding: 0 5px;
    width: calc(50% - 20px);
    margin: 0 10px;


    @media (min-width: 768px) {
      font-size: 24px;
      padding: 0 15px;
    }

    &--current,
    &:hover {
      color: $blue-color;
      font-weight: 600;
    }
  }

  &__item {
    display: none;

    &--selected {
      display: block;
    }
  }
}
