.product-item {
  width: 100%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 10px 29px 0 $shadow;

  $root: &;

  &__top {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 20px;
      background: #fbfbfb;
      border-radius: 20px 20px 0 0;
      z-index: 1;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 7px;
    text-align: center;
    margin-right: 9px;

    &--new {
      background: $green-color;
    }

    &--sale {
      background: $red-color;
    }

    &--hit {
      background: $yellow-color;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    position: relative;
    padding-top: 100%;
    margin: 0;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }

  &__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__image-thumb {
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__order-btn {
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: $yellow-color;
    pointer-events: all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__order-ico {
    width: 25px;
    height: 25px;
    fill: #FFF;
  }

  &__bottom {
    background: #fbfbfb;
    padding: 10px 15px 20px;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-wrap: wrap;

    @media(max-width: 575px) {
      padding: 10px 15px 15px;
    }

    &--full {
      #{$root} {
        &__info, &__price {
          max-width: 100%;
        }
      }
    }
  }

  &__info {
    width: 100%;
  }

  &__title {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: $dark-color;
    margin-bottom: 10px;
    transition: color 0.3s;
  }

  &__amount {
    width: 100%;
    max-width: 122px;
    display: flex;
    align-items: center;
  }

  &__category {
    font-weight: 500;
    font-size: 14px;
    color: $dark-color;
    opacity: 0.4;
    margin: 0 0 10px;
  }

  &__cart {
    width: 100%;
    min-height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
  }

  &__current-price {
    font-size: 22px;
    color: $red-color;
    margin-right: 12px;

    #{$root} {
      &__price-label {
        font-size: 20px;
      }
    }

    @media(max-width: 575px) {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  &__price-val {
    font-weight: bold;
  }

  &__old-price {
    font-size: 18px;
    color: $dark-color;
    opacity: .5;
    text-decoration: line-through;
    #{$root} {
      &__price-label {
        font-size: 16px;

        @media(max-width: 575px) {
          font-size: 16px;
        }
      }
    }

    @media(max-width: 575px) {
      font-size: 16px;
    }
  }
}
