.post {
  padding: 50px 0 100px;

  @media(max-width: 767px) {
    padding: 40px 0 60px;
  }

  &__container {
    &--center {
      text-align: center;
    }
  }

  &__heading {
    padding-bottom: 50px;
    @media(max-width: 767px) {
      padding-bottom: 25px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 50px;
    color: $primary;

    @media(max-width: 1440px) {
      font-size: 45px;
    }

    @media(max-width: 1199px) {
      font-size: 40px;
    }

    @media(max-width: 991px) {
      font-size: 35px;
    }

    @media(max-width: 767px) {
      font-size: 25px;
    }

    @media(max-width: 350px) {
      font-size: 20px;
    }
  }

  &__title-sm {
    max-width: 430px;
    font-weight: 600;
    font-size: 30px;
    color: $primary;
    margin: 0 auto;

    @media(max-width: 991px) {
      font-size: 25px;
    }

    @media(max-width: 767px) {
      font-size: 20px;
    }

    @media(max-width: 350px) {
      font-size: 20px;
    }
  }

  &__body-sm {
    max-width: 430px;
    margin: 0 auto;

    p {
      font-weight: 500;
    }
  }

  &__body,
  &__body-sm {
    color: $dark;
    font-size: 16px;
    line-height: 21px;

    p {
      margin-bottom: 15px;
    }

    @media(max-width: 767px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__check {
    color: $dark;
    margin-bottom: 20px;
    width: 100px;

    @media(max-width: 767px) {
      width: 75px;
    }
  }

  &__button {
    color: #fff;
    background: $dark2;
    font-size: 15px;
    font-weight: 600;
    padding: 16px 25px;
    display: inline-flex;
  }
}
