@import "./fonts.scss";
@import "./vars.scss";
@import "./mixins.scss";
@import "./keyframes.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  color: $gray-color;
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  min-width: 320px;
  line-height: $base-line-height;

  &.open-modal {
    overflow: hidden;
  }
}

input, button, select, textarea {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  font-family: $base-font;
  font-size: $base-font-size;
  background: none;
  border: none;
  outline: none;
  transition: all .3s ease;

  &:hover, &:focus {
    outline: none;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

ol, ul {
  padding-left: 20px;
}

a {
  color: $gray-color;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  display: block;
}

span[hidden], img[hidden] {
  display: none;
}

svg {
  display: inline-block;
  vertical-align: baseline;
  transition: fill 0.3s, stroke 0.3s;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 15px;

  @media(min-width: 768px) {
    max-width: 768px;
  }

  @media(min-width: 992px) {
    max-width: 992px;
  }

  @media(min-width: 1200px) {
    max-width: 1200px;
  }

  @media(min-width: 1310px) {
    max-width: 1280px;
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  min-width: 768px;
  margin-bottom: 1rem;
  color: $dark-color;
  vertical-align: top;
  border-color: $light-color;
  border-spacing: 0;
  border-top: 1px solid $light-color;

  @media(min-width: 768px) {
    min-width: auto;
  }

  tr, td, thead, tbody {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  thead {
    vertical-align: bottom;
  }

  tr {
    border-width: 0;
  }

  td, th {
    font-size: 14px;
    line-height: 19px;
    color: $dark-color;
    padding: 8px 6px;
    border-width: 1px;
    border-top: 0;
    border-right: 0;

    &:last-child {
      border-right: 1px solid $light-color;
    }

    @media(min-width: 768px) {
      padding: 10px 8px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: $white-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5px;
}
.cart-alert{
  padding: 4px 8px;
  color: $white-color;
  font-size: 10px;
  line-height: 14px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  top: 15px;
  right: 15px;
  animation: fadeOut 500ms 2s ease normal forwards;

  &_add {
    background: $green-color;
  }

  &_default {
    background: $blue-color;
  }

  &_remove {
    background: $dark-color;
  }

  @media(min-width: 768px) {
    font-size: 12px;
    line-height: 20px;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
  }
}

.widget-whatsapp {
  bottom: 30px;
  right: 15px;
  position: fixed;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background: $green-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: pulse-wa 3s linear infinite;

  @media(min-width: 768px) {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    bottom: 40px;
    right: 30px;
  }

  &__ico {
    width: 16px;
    height: 16px;
    fill: $white-color;

    @media(min-width: 992px) {
      width: 26px;
      height: 26px;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

@import './element/loading';
@import './element/header';
@import './element/modal';
@import './element/header-nav';
@import './element/search-form';
@import './element/mobile-nav';
@import './element/slider';
@import './element/categories';
@import './element/product-slider';
@import './element/product-item';
@import './element/product-amount';
@import './element/post';
@import './element/advantages';
@import './element/footer';
@import './element/contact';
@import './element/contact-form';
@import './element/mini-cart';
@import './element/product-popup';
@import './element/tabs';
@import './element/breadcrumbs';
@import './element/category';
@import './element/filters';
@import './element/product';
@import './element/product-price';
@import './element/filter';
@import './element/checkout';
@import './element/radio';
@import './element/account';
@import './element/theme-slider';
