@import "./fonts.scss";
@import "./vars.scss";
@import "./mixins.scss";
@import "./keyframes.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  color: $gray-color;
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  min-width: 320px;
  line-height: $base-line-height;

  &.open-modal {
    overflow: hidden;
  }
}

input, button, select, textarea {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  font-family: $base-font;
  font-size: $base-font-size;
  background: none;
  border: none;
  outline: none;
  transition: all .3s ease;

  &:hover, &:focus {
    outline: none;
    cursor: pointer;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

ol, ul {
  padding-left: 20px;
}

a {
  color: $gray-color;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

span[hidden], img[hidden] {
  display: none;
}

svg {
  display: inline-block;
  transition: all .25s ease;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 15px;

  @media(min-width: 768px) {
    max-width: 768px;
  }

  @media(min-width: 992px) {
    max-width: 992px;
  }

  @media(min-width: 1200px) {
    max-width: 1200px;
  }
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  min-width: 768px;
  margin-bottom: 1rem;
  color: $black-color;
  vertical-align: top;
  border-color: $light-color;
  border-spacing: 0;
  border-top: 1px solid $light-color;

  @media(min-width: 768px) {
    min-width: auto;
  }

  tr, td, thead, tbody {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  thead {
    vertical-align: bottom;
  }

  tr {
    border-width: 0;
  }

  td, th {
    font-size: 14px;
    line-height: 19px;
    color: $black-color;
    padding: 8px 6px;
    border-width: 1px;
    border-top: 0;
    border-right: 0;

    &:last-child {
      border-right: 1px solid $light-color;
    }

    @media(min-width: 768x) {
      padding: 10px 8px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: $white-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: rgba($color: $green-color, $alpha: .85);
  border-radius: 5px;

  &:hover {
    background: $green-color;
  }
}

@import './element/header';
@import './element/intro';
