@font-face {
  font-family: "Montserrat";
  src: url("/themes/store/assets/fonts/MontserratRegular.eot");
  src: url("/themes/store/assets/fonts/MontserratRegular.eot?#iefix")format("embedded-opentype"),
  url("/themes/store/assets/fonts/MontserratRegular.woff") format("woff"),
  url("/themes/store/assets/fonts/MontserratRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/themes/store/assets/fonts/MontserratMedium.eot");
  src: url("/themes/store/assets/fonts/MontserratMedium.eot?#iefix")format("embedded-opentype"),
  url("/themes/store/assets/fonts/MontserratMedium.woff") format("woff"),
  url("/themes/store/assets/fonts/MontserratMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("/themes/store/assets/fonts/MontserratSemiBold.eot");
  src: url("/themes/store/assets/fonts/MontserratSemiBold.eot?#iefix")format("embedded-opentype"),
  url("/themes/store/assets/fonts/MontserratSemiBold.woff") format("woff"),
  url("/themes/store/assets/fonts/MontserratSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("/themes/store/assets/fonts/MontserratBold.eot");
  src: url("/themes/store/assets/fonts/MontserratBold.eot?#iefix")format("embedded-opentype"),
  url("/themes/store/assets/fonts/MontserratBold.woff") format("woff"),
  url("/themes/store/assets/fonts/MontserratBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("/themes/store/assets/fonts/MontserratExtraBold.eot");
  src: url("/themes/store/assets/fonts/MontserratExtraBold.eot?#iefix")format("embedded-opentype"),
  url("/themes/store/assets/fonts/MontserratExtraBold.woff") format("woff"),
  url("/themes/store/assets/fonts/MontserratExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
