$base-font: 'Montserrat', 'Arial', sans-serif;
$base-font-size: 16px;
$base-line-height: 19px;

$yellow-color: #FF9846;
$orange-color: #F46D40;
$red-color: #EB5757;
$grey-color:#E5E5E5;
$dark-color: #111111;
$light-color: #F8F9FC;
$border-color: #A1A4B1;
$placeholder-color: #8B90A0;
$label-color: #232735;
$blue-color: #61A8DE;
$green-color: #1BD741;
$yellow-color: #F3BB1C;
