$base-font: 'Fira Sans', 'Arial', sans-serif;
$base-font-size: 15px;
$base-line-height: 19px;

$dark-color: #484848;
$white-color: #FFF;
$light-color: #E0E0E0;
$gray-color: #898989;
$black-color: #000;

$theme-color: #d5342e;

$blue-color: #a993dc;
$red-color: #ef726b;
$green-color:  #7dca3f;
$yellow-color: #ffad0d;
$brown-color: #d88861;

$shadow: rgb(0, 0, 0, .10);
$border-color: #e6e6e6;
$bg-color: #fbf8ec;
