$base-font: 'Inter', 'Arial', sans-serif;
$base-font-size: 16px;
$base-line-height: 24px;

$blue-color: #007AFF;
$red-color: #F4484E;
$red-color-hover: #E0343A;
$grey-color:#8C96A3;
$dark-color: #2B2F33;
$blue-light-color: #DFE8F1;
$light-color: #F2F5F8;
$green-color: #00C853;
$yellow-color: #F3BB1C;
